<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.volumn">

    <uses-sdk tools:overrideLibrary="           androidx.camera.camera2, androidx.camera.core,           androidx.camera.view, androidx.camera.lifecycle" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />


    출처: https://iw90.tistory.com/155 [woong's]
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Volumn"
        android:usesCleartextTraffic="true">
        <service
            android:name=".chat.ChatService"
            android:enabled="true"
            android:process=":remote"></service>
        <receiver
            android:name=".chat.RestartService"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        출처: https://iw90.tistory.com/155 [woong's]
        <activity
            android:name=".chat.pop_addRoom"
            android:theme="@style/Theme.Main.Dialog" />
        <activity android:name=".chat.ChatRoomActivity" />
        <activity android:name=".chat.MainChatActivity" />
        <activity android:name=".chat.chatActivity" />
        <activity android:name=".rank.addFriendActivity" />
        <activity android:name=".rank.RankActivity" />
        <activity
            android:name=".addSet.pop_addSet_Del_Activity"
            android:theme="@style/Theme.Main.Dialog" />
        <activity
            android:name=".addSet.pop_addSetActivity"
            android:theme="@style/Theme.Main.Dialog" />
        <activity android:name=".addWorkout.action_addWorkoutActivity" />
        <activity android:name=".addWorkout.addWorkoutActivity" />
        <activity android:name=".addSet.addSetActivity" />
        <activity android:name=".calendar.CalendarActivity" />
        <activity android:name=".login.findPwActivity" />
        <activity android:name=".login.loginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".poseml.LivePreviewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>